.BlockMain
{
	height:100%;
	width:100%;
	position:relative;
	background-color:#1B2631;
	
}
#Button
{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:120px;
	width:400px;
	border: 2px solid #f1c40f;
	transition: .4s;
}
#Button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0,0,0,0);
  transition: .4s;
}
#Button:hover:before {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}


.BlockLastMistake
{
	height:100%;
	width:35%;
	position:relative;
	float:left;
}
.BlockLink
{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:45px;
	width:120px;
	border-radius:5px 5px 5px 5px;
	border:1px solid #f1c40f;
	cursor:pointer;
}
.BlockLink>.img
{
	height:100%;
	width:30%;
	float:left;
	
}
.BlockLink>.img img
{
	height:23px;
}
.BlockLink>.text
{
	height:100%;
	width:70%;
	float:left;
	font-size:14px;
	color:#f1c40f;
}
.progressBar
{
	height:100%;
	width:65%;
	float:left;
	position:relative;
}
.progress-bar {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
        background-color: #1a1a1a;
        height: 25px;
        padding: 5px;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
        display: inline-block;
        height: 25px;
        width: 0%;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
		background-color:#f1c40f;
        transition: width 1.9s ease-in-out;
}
		
